<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Videos App</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHaXxe9kNUXyQ/profile-displayphoto-shrink_800_800/0/1577219523710?e=1626307200&v=beta&t=P9Yy55gavkopf7LoWFbBeGsH3Ioc59u9rTHfLCJP7Vw" alt="">

  <h1>Rafael de Carvalho Andriollo</h1>
  <p>Auxiliar de docente - Fatec Garça</p>
  <a href="mailto:rafael.andriollo@fatec.sp.gov.br">rafael.andriollo@fatec.sp.gov.br</a>

</ion-content>
