<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Videos App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-item lines="full">
    <ion-thumbnail slot="start">
      <img src="https://m.media-amazon.com/images/M/MV5BMjI0MDMzNTQ0M15BMl5BanBnXkFtZTgwMTM5NzM3NDM@._V1_UX182_CR0,0,182,268_AL_.jpg">
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <h1>Um Lugar Silencioso (2018)</h1>
      <p>05/04/2018 (BR) - 1h 30min</p>
      <p>Drama, Horror, Sci-Fi</p>
    </ion-label>

    <ion-chip color="success" outline>
      <ion-label>75%</ion-label>
    </ion-chip>
  </ion-item>

</ion-content>
